/** Fonts **/

    @font-face {
        font-family: duckobotFont;
        src: url(fallingskycond.otf);
    }

/** Fonts **/


/** Main parts**/


    html{
        background-color: #0f0f0f;
        margin: 0 auto;
        padding: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        
    }
    body{

        margin: 0 auto;
        padding: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #background-wave{


        max-width: 100%;
        top: -90px;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;

    }
    #background-wave-cont{
        background-color: #e6e6e6;
        width: 300px;
        height: 300px;
        max-width: 100%;
        top: -90px;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
/** Main parts**/


/** Head **/

    #logo{
        margin: 0 auto;
        padding: 0;
        width: 10%;
        left: 45%;
        position: relative;


    }

    #title{
        
        text-align: center;
        font-family: duckobotFont;
        font-weight: 500;
        font-size: 90px;
        color: white;


    }
    #duckobot-letter{

        color:#eb3434;
        font-size: 60px;
        font-weight: 700;

    }

    #duckobot-letter:hover{
        color: #a01c1c;
        transition: ease-in-out 1s;
        cursor: pointer;
        
    }

    #login-page-sub-letter{
        color:#eb3434;
        font-size: 50px;
        font-weight: 700;
    }

    #subtitle{

        text-align: center;
        color: #e6e6e6;
        margin-top: -20px;
        font-family: duckobotFont;
        font-weight: 100;
        font-size: 45px;
        
    }

/** Head **/


/** Nav Bar **/

    #ref{

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        color: #e6e6e6;
        font-weight: 200;
        font-size: 25px; 
        padding-left: 10px;
        

    }
    
    ul {

        list-style-type: none;
        margin: 0;
        padding: 20px;

    }

    li {
        display: block;
        display: inline;
        padding-inline: 15px;
        

    }

    a:hover{

        transition: 0.1s;

        font-size: 102%;
        border-radius: 7px;


    }
    .active{
        font-size: larger;
    }


/** Nav Bar **/

/** Forms **/


    /** Login Page **/

        #div-login{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: none;
            color: #e6e6e6;
            font-weight: 200;
            font-size: 15px; 

            
        }
        #id-input-label{
            text-align: left;
            margin-right: 22vw;

        }
        #id-input{

            text-decoration: none;
            color: #e6e6e6;
            margin-top: 15px;
            width: 30vw;
            background-color: #080808;
            border-radius: 7px;
            padding: 4px;
            border-width: 2px;
            border-style: solid;
            border-color: #080808;
        }

        input[type = text]:focus{
            outline: none;
            background-color: #0f0f0f;
            border-radius: 7px;
            border-width: 2px;
            border-color: #e6e6e6;
        }

        #div-submit{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: none;
            color: #e6e6e6;
            font-weight: 200;
            font-size: 15px; 
            text-align: center;
            
        }
        #id-submit{
            text-decoration: none;
            outline: none;
            color: #e6e6e6;
            margin-top: 10px;
            width: 10vw;
            background-color: #a01c1c;
            border: none;
            border-radius: 10px;
            padding: 3px;


        }

        #id-submit:hover{
            cursor: pointer;
            background-color: #9c1d1d;
        }

    /** Login Page**/

    /** Register Page**/



        




    /** Register Page**/




/** Forms **/